/.metadata/
ct.tearoom/.classpath
ct.tearoom/.classpath
ct.tearoom/.project
*.prefs
unibolibs.rar
unibolibs/2p301.jar
unibolibs/it.unibo.planner20-1.0.jar
unibolibs/it.unibo.qakactor-2.3.jar
unibolibs/it.unibo.qakactor-2.4.jar
unibolibs/it.unibo.robotPojo-1.0.jar
unibolibs/labbaseRobotSam.jar
unibolibs/pi4j-core.jar
unibolibs/radarPojo.jar
unibolibs/springfox-swagger2-3.0.0-20190803.175454-30.jar
unibolibs/uniboInterfaces.jar
unibolibs/unibonoawtsupports.jar
ct.tearoom/.classpath
ct.tearoom/.project
ct.tearoom/.settings/org.eclipse.jdt.core.prefs
ct.tearoom/.classpath
ct.tearoom/.project
ct.tearoom/.settings/org.eclipse.jdt.core.prefs
*.prefs
